<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@APPDESCRIPTION@</description>
    <author>@APPAUTHOR@</author>
    <website/>
    <status>alpha</status>
    <license>@APPLICENSE@</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>@APPNAME@</target>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <permissions user="podlove" password="podlove" group="podlove" mode="rwxrwxr-x"/>
</meta>